include LICENSE
include README.md
include CHANGELOG.md
include CONTRIBUTING.md
include zafather/py.typed
recursive-include examples *.py *.html
recursive-include docs *.md
exclude zafather.bundle
global-exclude __pycache__ *.py[cod]
